.name{
    text-align: center;
}

a, a:hover { 
    cursor:url('http://www.dolliehost.com/dolliecrave/cursors/cursors-all/arrow38.gif'), auto 
}


html{
    background-color: aqua;
}

ul{
    list-style: none;
}

.quote{
    text-align: center;
    text-decoration: none;
    color: #ff3746
}

.asd{
    background-image: url("images/background.JPG");
}

a{
    text-decoration: none;
}

header{
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}


.profile-photo{
    max-width: 200px;
    display: block;
    margin: 0 auto 30px;
    border-radius: 100%;
}

.nav{
    display: block;
    text-align: center;
}

footer{
    text-align: center;
}

#wrapper{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#pictures{
    margin: 0;
    padding: 0;
}

#pictures li{
    float: center;
    width: 45%;
    margin: 2.5%;
    padding: 0;
}

img{
    width: 80%;
}

.media{
    float: center;
    width: 50px;
    margin: 2.5%;
    padding: auto;
    
    
}

nav{
    text-align: inline-block;
}